coreapi==2.3.3
Django==1.11.29
djangorestframework==3.11.2
django-environ==0.4.5
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.1.0
gunicorn==19.7.1
psycopg2-binary==2.8.5
social-auth-core==1.6.0
social-auth-app-django==2.1.0
whitenoise==3.3.1
